/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom animations
   ========================================================================== */

@keyframes fromTo {
 from {
    background-color: #09245E;
 }
 to {
    background-color: #62B9CF;
 }

}

@-moz-keyframes fromTo {
 from {
   background-color: #09245E;
 }
 to {
   background-color: #62B9CF;
 }

}

@-webkit-keyframes fromTo {
 from {
   background-color: #09245E;
 }
 to {
   background-color: #62B9CF;
 }

}

@-ms-keyframes fromTo {
 from {
   background-color: #09245E;
 }
 to {
   background-color: #62B9CF;
 }

}

@-o-keyframes fromTo {
 from {
   background-color: #09245E;
 }
 to {
   background-color: #62B9CF;
 }

}

@keyframes fadeIn {
 from {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
 }
 to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1.0;
 }

}

@-moz-keyframes fadeIn {
 from {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 to {
   filter: alpha(opacity=100);
   opacity: 1.0;
 }

}

@-webkit-keyframes fadeIn {
 from {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 to {
   filter: alpha(opacity=100);
   opacity: 1.0;
 }

}

@-ms-keyframes fadeIn {
 from {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
 }
 to {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1.0;
 }

}

@-o-keyframes fadeIn {
 from {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 to {
   filter: alpha(opacity=100);
   opacity: 1.0;
 }

}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color: #EFDAAA;
}

.navbar-inverse {
	margin-bottom: 0;
	overflow: hidden;
	position: relative;
	background-color: #5EB9D0;
	border-color: #00A1A6;
	box-shadow: inset 0 0 12px #718AA1;
	border-radius: 0;
}

.navbar a {
	position: relative;
	z-index: 2;
	display: block;
}

.navbar img {
	width: 250px;
}

.navbar .background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	opacity: 0.4;
}

.video {
    position: relative;
    overflow: hidden;
    padding: 2em 0;
    background-color: #67BDCE;
    text-align: center;
    min-height: 256px
}

.video video {
    width: 100%;
    display: block;
}

.video .background {
    width: 100%;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.video .sun {
    color: #FFF;
    display: inline-block;
    background-color: #E2D42C;
    border-top: solid 4px #AAA05A;
    box-shadow: 0 0 40px #52717A;
    border-radius: 10px;
    margin: 20px auto;
    position: relative;
    padding: 1.5em;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all ease-in-out .35s;
    transition: all ease-in-out .35s;
}

.video .sun:hover {
    text-decoration: none;
    box-shadow: 0 0 20px #52717A;
}

.video .sun h1 {
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    margin-top: 2px;
    margin-bottom: -4px;
    letter-spacing: 7px;
    font-family: 'Signika Negative', sans-serif;
    text-shadow: 1px -1px 1px #DACC30;
    vertical-align: top;
}

.video .sun h1 span {
    font-size: 1.5em;
    margin-top: -4px;
    display: inline-block;
    -webkit-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
}

.video .sun:hover h1 span {
    -webkit-transform: rotateZ(-90deg) translate3d(0, 0, 0);
    -moz-transform: rotateZ(-90deg) translate3d(0, 0, 0);
    -ms-transform: rotateZ(-90deg) translate3d(0, 0, 0);
    -o-transform: rotateZ(-90deg) translate3d(0, 0, 0);
    transform: rotateZ(-90deg) translate3d(0, 0, 0);
}

.video .title {
    position: relative;
    text-align: center;
    z-index: 1;
}

.video .title img {
    opacity: 1;
    width: 35%;
}

.video .title h1, .video .title h4 {
    color: #FFF;
    text-shadow: -3px 1px 4px #3C3C3C;
    font-family: 'Signika Negative', sans-serif;;
    font-weight: 900;
}

.video .title h4 {
    color: #FFDF8B;
    text-shadow: 0 0 14px rgba(0, 0, 0, 0.68);
}

.social {
    padding: 0.5em;
    background-color: #E0C68F;
}

.social .col-md-12 {
    margin-top: 0.25em;
}

.social .col-md-12 > div {
    float: right;
}

.social .col-md-12 .fb-like {
    margin-right: 10px;
    top: -5px;
}

section.content {
    background-color: #EED9AD;
    border-top: solid 1px #FFE49E;
    border-bottom: solid 1px #FFE49E;
}

section.content h1 {
    margin-bottom: 1.25em;
    font-family: 'Signika Negative', sans-serif;
    border-bottom: solid 4px rgba(255, 255, 255, 0.2);
}

section.content h1.tagline {
    text-align: center;
    font-size: 2.75em;
}

section.content article {
    padding: 3em 0;
    margin-bottom: 1.25em
}

section.content article p {
    font-size: 1.25em;
    line-height: 200%;
}

.wall {
    margin-top: 40px;
    position: relative;
    background-color: #1C2026;
    overflow: hidden;
    box-shadow: inset 0 0 10px #000;
    border-top: solid 1px #000;
    border-bottom: solid 1px #FFF;
}

.wall iframe {
    position: relative;
    margin: 0 auto;
    width: 853px;
    display: block;
    box-shadow: 0 0 10px #000;
}

.wall img {
    max-width: 500px;
    width: 100%;
}

.wall img.rock-1 {
    position: absolute;
    margin-left: -80px;
    margin-top: -50px;
}

.wall img.rock-2 {
    bottom: -300px;
    right: -100px;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    position: absolute;
}

footer {
    background-color: #36352E;
    color: #FFF;
    box-shadow: inset 0 0 125px rgba(0, 0, 0, 0.62);
}

footer ul {
    text-align: center;
    padding: 2em 1em;
}

footer ul li {
    display: inline-block;
    padding: 12px 10px;
    font-size: 1.2em;
    color: #B6B6B6;
    text-align: center;
    font-weight: bolder;
}

footer ul li a {
    color: #B6B6B6;
    text-align: center;
    font-weight: bolder;
}

section.greenlight {
    color: #FFF;
    background-color: #384132;
    border-top: solid 1px #0F1B00;
    border-bottom: solid 1px #F0F0F0;
    box-shadow: 0 0 10px #757575;
    position: relative;
    z-index: 1;
}

section.greenlight p {
    margin-top: 36px;
}

img.greenlight {
    width: 100%;
    max-width: 200px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin-top: -10px;
    margin-bottom: -10px;
}

.announcement {
    text-align: center;
    background-color: #FFF4DD;
    padding: 10px;
    padding-top: 20px;
    text-shadow: 0 0 1px #FFF2BE;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px #FFF;
    border-top: none;
    margin-top: -1px;
    margin-bottom: 20px;
    color: #555;
}

.announcement p {
  font-style: italic;
}

.announcement img {
    width: 75%;
    box-shadow: 0 0 10px #AC9448;
}

/** Posts on Home Page **/
.posts {
	padding: 25px;
	padding-top: 3em;
}

.posts .list-group {
    box-shadow: 0 0 10px #C2A873;
}

.posts .list-group-item {
	background-color: #F1E0BA;
	border-color: #F5E7D2;
	-webkit-transition: background-color 350ms;
	-moz-transition: background-color 350ms;
	transition: background-color 350ms;
}

a.list-group-item .list-group-item-heading {
	color: #333;
	font-family: 'Signika Negative', sans-serif;
	font-size: 1.55em;
}

.posts p {
	font-size: 1em;
}

.posts .gutter {
    color: #6C6767;
    padding: 5px;
    border: solid 1px #D3BE86;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/** The post **/
.post, .comments {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.post {
	background-color: #FFF;
	padding: 1em 28px;
	margin-bottom: 2.5em;
}

.comments {
	margin-bottom: 2.5em;
}

.blog-page {
    margin: 0 auto;
    padding: 1em 28px;
    max-width: 750px;
    background: #FFF;
}

.blog-page .list-group {
    padding: 2em 1em;
    margin-bottom: 0;
}

.blog-page .list-group-item {
    border: 0;
    padding: 0;
    border-bottom: solid 1px #E9E8E8;
}

.blog-page a.list-group-item .list-group-item-heading {
    margin-bottom: 1em;
    font-size: 2em;
}

.post header h1 {
	font-size: 3em;
	font-family: 'Signika Negative', sans-serif;
}

.post header small {
	color: #7A7878;
}

.post .the-meat {
	margin: 3em 0;
}

.post .the-meat p {
	margin: 0 0 20px;
	font-size: 1.25em;
	line-height: 145%;
}

.post .the-meat .alignleft {
	margin-right: 16px;
}

.post .the-meat .alignright {
	margin-left: 16px;
}

.post .the-meat .aligncenter {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.post footer {
	padding: 1em 0;
	background-color: transparent;
	box-shadow: none;
	color: #000;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * WordPress Align CSS
 */

.aligncenter { display:block; margin:0 auto }
.alignleft { float:left }
.alignright { float:right }
.wp-caption {
    border: 1px solid #B8B8B8;
    background: #E7E7E7;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (max-width: 1200px) {
    section.greenlight p {
        margin-top: 28px;
    }
}

@media only screen and (max-width: 991px) {
    section.greenlight p {
        margin-top: 14px;
    }
}

@media only screen and (max-width: 480px) {
    .video .title img {
        width: 100%;
    }

    .wall iframe {
        width: 100%;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
